<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVA_dzien_1/src/java_dzien_pierwszy/Przyklad_ze_stalymi.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="java_dzien_pierwszy.Przyklad_ze_stalymi"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVA_dzien_1"/>
</launchConfiguration>
